@use "../abstracts";


.counter {
    border: solid 1px #b185dbce;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 20px 20px 20px rgba(115, 115, 115, 0.2);
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 12px;
    padding: 1rem;
  }
  
  button {
    margin-bottom: 20px;
    margin-right: 30px;
    border: none;
    padding: 15px;
    background-color: #111827e9;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    
  }

button:hover {
    background-color: rgb(47, 7, 66);
}

  .inactive{
    opacity: 0.3;
    cursor: not-allowed;
}

.counter-display {
    margin-bottom: 1rem;
    font-size: 20px;
    color: rgb(18, 0, 27);
}