@use "../abstracts";


.main-footer {
     background-color:  rgb(47, 7, 66);
    padding: 2rem 0;
}

.footer-content {
    text-align: center;
}

.footer-text {
    color: #f9fafb;
    margin-bottom: 0.5rem;
    font-family: abstracts.$font-main;
    font-size: 1.2rem;
    line-height: 1.7;
}

.footer-copy {
    font-size: 0.95rem;
    color: #f9fafb;
    font-family: abstracts.$font-main;
    line-height: 1.7;
}

.footer-copy-me {
    font-size: 0.8rem;
    color: #f9fafb;
    margin-top: 0.8rem;
    font-family: abstracts.$font-main;
}