@use "../abstracts";

.overview-section {
    padding: 4rem 0;
}

.title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: abstracts.$color-title;  
    font-family:abstracts.$font-main;
}

.sub-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: abstracts.$color-title;
    font-family:abstracts.$font-main;
}

.text {
    font-size: 1.2rem;
    line-height: 1.7;
    color: abstracts.$color-text;
    font-family:abstracts.$font-main;
}

.overview-card {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(180, 149, 237, 0.29);
    border-radius: 20px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 20px 20px 20px rgba(115, 115, 115, 0.2);
}

.code-block {
    background-color: #111827;
    color: #f9fafb;
    padding: 1.2rem;
    border-radius: 14px;
    font-family: monospace;
    line-height: 1.6;
    font-size: 0.8rem;
    margin-top: 25px;
}